footer {
  width: 100vw;
  background-color: hsl(0, 0%, 70%);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin-top: 2.5rem;
}

footer div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer div a {
  display: flex;
  align-items: center;
}
