header {
  width: 100vw;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid hsl(0, 0%, 40%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  align-items: center;
}

nav .nav-links a {
  text-decoration: none;
  color: hsl(0, 0%, 40%);
}

nav .nav-links li:first-child a {
  color: black;
}

/* Två grupper innanför nav, vänster och höger sida */
nav > div {
  display: flex;
  align-items: center;
}

/* Höger grupp innanför div */
nav > div:last-child {
  display: flex;
  gap: 0.5rem;
}

.logo-wrapper {
  width: 6rem;
}

.cart-btn:hover {
  background-color: hsl(0, 0%, 90%);
}
