header {
  width: 100vw;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  position: static;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid hsl(0, 0%, 40%);
  z-index: 100;
  font-size: 1rem;
}

#desktop-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
}

#desktop-nav .nav-links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  align-items: center;
}

#desktop-nav .nav-links a {
  text-decoration: none;
  color: hsl(0, 0%, 40%);
}

#desktop-nav .nav-links li:first-child a {
  color: black;
}

/* Två grupper innanför nav, vänster och höger sida */
#desktop-nav > div {
  display: flex;
  align-items: center;
}

/* Höger grupp innanför div */
#desktop-nav > div:last-child {
  display: flex;
  gap: 0.5rem;
}

.logo-wrapper {
  width: 6rem;
}

.cart-btn:hover {
  background-color: hsl(0, 0%, 90%);
}

#hamburger-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hamburger-nav > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  width: 1.75rem;
}

#hamburger-btn div {
  width: 100%;
  height: 4px;
  background-color: black;
}

#hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  gap: 1rem;
}

#hamburger-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
}

#hamburger-menu.hidden {
  display: none;
}

#hamburger-menu.visible {
  display: flex;
}

#hamburger-close-btn {
  align-self: flex-end;
}

@media (min-width: 900px) {
  #desktop-nav {
    display: flex;
  }

  #hamburger-nav {
    display: none;
  }

  header {
    position: sticky;
  }
}
